body {
  background-color: #c2dfff;
}

* {
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  color: #0000ff;
}

h2 {
  text-align: center;
}

blockquote {
  font-style: italic;
  font-variant: small-caps;
}

.thumbnails {
  display: inline;
  line-height: 100px;
  list-style-type: none;
}

.thumbnails li {
  display: inline-block;
  padding: 50px;
  border: 5px solid;
  margin: 50px 50px 50px 0px;
  font-size: 18pt;
}

li img {
  height: 100px;
  padding: 5px;
  border: 1px;
  border-style: solid;
  float:left;
  margin-right: 15px;
}

.navigation {
  width: 100%;
  display: inline;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff66;

}

.navigation li {
  display: inline;
  padding: 50px;
  width: 100%;
  border-right: 1px solid #bbb;
  text-align: justify;
}

.navigation li:last-child {
    border-right: none;
}
}

.navigation li a {
  display: block;
  color: #000000;
}

li a:hover {
  color: #FFFFFF;
}

p img {
  float: right;
  padding: 5px;
  margin: 5px;
  border: 1px;
}
